* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {

}

.header >  div {

}

.main {

}

.sidebar {

}

.content {

}

.content > div {


}

.footer {

}

.footer > div {

}
